* {
    -webkit-text-stroke: 0.5px #000000;
    font: medium;
}
.title {
    color:rgb(255, 213, 0);
    background-image: url(background.jpg);
    text-align: center;
}
.projects {
    color: blueviolet;
    text-align: center;
}
.contacts {
    color: rgb(230, 230, 230);
    background-color: #242424;
    text-align: center;
}
span {
    color: violet;
}