* {
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

div {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(7.5px);
    /* transform: translateX(-50%); */
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}